$lightFontColor: #ffffff
$darkFontColor: #000
$darkBgColor: #1E1E1E
$firstColor: #3AE2CE

*
    margin: 0
    padding: 0

html
    font-size: 10px

body
    font-size: 1.4rem
    font-family: 'Roboto', sans-serif

ul
    list-style: none

a
    color: #000
    text-decoration: none

    
.movie-card
    width: 300px
    margin: 10px
    position: relative
    display: flex
    padding: 7px 50px 7px 5px
    border-bottom: 1px solid rgba($darkFontColor, 0.2)
    &__image
        height: 70px
    &__description
        padding-left: 30px
    &__title
        color: $darkFontColor
        text-align: left
        font-size: 1.6rem
        font-weight: normal
    &__text
        text-align: left
        color: rgba($darkFontColor, 0.5)
        font-size: 1.3rem
    &__release-date
        color: $firstColor
        margin-bottom: 1rem
        font-size: 1.1rem
.App
    min-height: 80vh
.movie-list
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
.main-footer
    height: 20vh
    background-color: $darkBgColor
    position: relative
    &__link
        display: inline-block
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        text-transform: uppercase
        color: rgba($lightFontColor, 0.7)
        transition: 0.2s ease all
        &:hover
            transition: 0.2s ease all
            color: $lightFontColor

.loading
    display: inline-block
    position: absolute
    top: 40%
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 3rem
    color: $firstColor
  

.movie-page
    min-height: 60vh
    position: relative
    top: 30px
    margin: 0 100px
    padding: 30px 0px
    background-color: rgba($darkBgColor, 1)
    display: flex
    box-shadow: 0 14px 28px rgba(0,0,0,0.4), 0 10px 10px rgba(0,0,0,0.4)
    &__right-side
        padding-left: 40px
        position: relative
    &__left-side
        position: relative
        min-width: 200px
    &__title
        color: $lightFontColor
        font-weight: normal
    &__image
        position: absolute
        left: -15px
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.3), 1px 1px 5px rgba(255, 255, 255, 0.7)    
    &__description
        color: rgba($lightFontColor, 0.4)
        margin-top: 30px
        position: relative
        p
            margin-top: 7px
            border-bottom: 1px dashed rgba($lightFontColor, 0.6)
            padding-bottom: 3px
            width: 60%

    &__overview
        width: 60%
    &__vote
        font-size: 3rem
        margin-right: 7px
        margin-top: 20px
    &__point
        color: rgba($firstColor, 0.9)
        font-weight: bold
        display: inline-block
        margin-right: 5px
    &__rate
        position: absolute
        top: 275px
        right: 0px
        font-weight: bold
    