* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.movie-card {
  width: 300px;
  margin: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 50px 7px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.movie-card__image {
  height: 70px;
}

.movie-card__description {
  padding-left: 30px;
}

.movie-card__title {
  color: #000;
  text-align: left;
  font-size: 1.6rem;
  font-weight: normal;
}

.movie-card__text {
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}

.movie-card__release-date {
  color: #3AE2CE;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.App {
  min-height: 80vh;
}

.movie-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer {
  height: 20vh;
  background-color: #1E1E1E;
  position: relative;
}

.main-footer__link {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.main-footer__link:hover {
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  color: #ffffff;
}

.loading {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #3AE2CE;
}

.movie-page {
  min-height: 60vh;
  position: relative;
  top: 30px;
  margin: 0 100px;
  padding: 30px 0px;
  background-color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.4);
}

.movie-page__right-side {
  padding-left: 40px;
  position: relative;
}

.movie-page__left-side {
  position: relative;
  min-width: 200px;
}

.movie-page__title {
  color: #ffffff;
  font-weight: normal;
}

.movie-page__image {
  position: absolute;
  left: -15px;
  -webkit-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.3), 1px 1px 5px rgba(255, 255, 255, 0.7);
          box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.3), 1px 1px 5px rgba(255, 255, 255, 0.7);
}

.movie-page__description {
  color: rgba(255, 255, 255, 0.4);
  margin-top: 30px;
  position: relative;
}

.movie-page__description p {
  margin-top: 7px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
  padding-bottom: 3px;
  width: 60%;
}

.movie-page__overview {
  width: 60%;
}

.movie-page__vote {
  font-size: 3rem;
  margin-right: 7px;
  margin-top: 20px;
}

.movie-page__point {
  color: rgba(58, 226, 206, 0.9);
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.movie-page__rate {
  position: absolute;
  top: 275px;
  right: 0px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */